body {
    background-color: grey;
    font-family: "Trebuchet MS";
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar-brand {
    margin-left: 20px;
}


ul {
    font-family: Georgia;
    font-size: 22px;
}

.btn-dark {
    margin-right: 5px;
}

.btn-secondary {
    margin-right: 10px;
}

.navbar .container-fluid .arama {
    width: 650px;
}




